@import "https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.8/dist/semantic.min.css";

body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.file.input {
  display: none;
}

.product > .meta > span {
  display: inline-block;
  margin-right: 10px;
  color: gray;
}
