// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.custom-file label {
    white-space: nowrap;
    overflow-x: hidden;
}
.spec {
    background: #ffffff;
    vertical-align: top;
    font-weight: normal;
}
.spec:after {
    position: absolute;
    right: 5px;
    left: 0;
    top: 15px;
    height: 1px;
    //margin: .85em 0 0;
    content: '';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAAAAAA+i0toAAAAAnRSTlMA/1uRIrUAAAAMSURBVHheY7j1/z8ABY8C2UtBe8oAAAAASUVORK5CYII=) 0 0 repeat-x;
}
.spec-inner {
    position: relative;
    padding: 0 10px 0 0;
    background: inherit;
    z-index: 2;

}

.page-header {
    @extend  .pb-2, .mb-3, .border-bottom, .border-dark;
}
